.pace {
    display: none;
}

.main-style {
    min-height: 100vh;
    background: url(../img/cover/cover-scrum-board.png) no-repeat fixed;
    background-size: 360px;
    background-position: right bottom;

}

#modal-task{
    display: none;
    background-color: rgba(0, 0, 0, 0.493);
    backdrop-filter: blur(2.5px);
}


